Project_1

In [ ]:
import pandas as pd

df = pd.read_csv('Citywide_Payroll_Data_(Fiscal_Year)_20251112.csv')
print(df.columns.tolist())
print(df.dtypes)

['Fiscal Year', 'Agency Name', 'Last Name', 'First Name', 'Work Location Borough', 'Title Description', 'Leave Status as of June 30', 'Base Salary', 'Pay Basis']
Fiscal Year                    int64
Agency Name                   object
Last Name                     object
First Name                    object
Work Location Borough         object
Title Description             object
Leave Status as of June 30    object
Base Salary                   object
Pay Basis                     object
dtype: object

In [10]:
df['Base Salary'] = df['Base Salary'].astype(str).str.replace('$', '', regex=False)  # Remove dollar signs
df['Base Salary'] = df['Base Salary'].str.replace(',', '', regex=False)  # Remove commas
df['Base Salary'] = df['Base Salary'].str.replace(' ', '', regex=False)  # Remove spaces

df['Base Salary'] = pd.to_numeric(df['Base Salary'], errors='coerce')

print("After conversion - Base Salary data type:", df['Base Salary'].dtype)
print("Number of NaN values after conversion:", df['Base Salary'].isna().sum())
print("\n")

After conversion - Base Salary data type: float64
Number of NaN values after conversion: 0

In [11]:
print(df.dtypes)

Fiscal Year                     int64
Agency Name                    object
Last Name                      object
First Name                     object
Work Location Borough          object
Title Description              object
Leave Status as of June 30     object
Base Salary                   float64
Pay Basis                      object
dtype: object

In [ ]:
print("Base Salary Statistics:")

print("Mean:", df['Base Salary'].mean())
print("Median:", df['Base Salary'].median())
print("Mode:", df['Base Salary'].mode().iloc[0])

Base Salary Statistics:
Mean: 59737.17771693137
Median: 59534.0
Mode: 85292.0

In [16]:
import csv

# Read CSV and extract Base Salary column
salaries = []
with open('Citywide_Payroll_Data_(Fiscal_Year)_20251112.csv', 'r') as file:
    reader = csv.reader(file)
    header = next(reader)
    salary_idx = header.index('Base Salary')
    
    for row in reader:
        if len(row) <= salary_idx:
            continue
        value = row[salary_idx]
        # Clean salary data: remove $ and commas
        clean_value = value.replace('$', '').replace(',', '')
        try:
            salaries.append(float(clean_value))
        except:
            continue

# Calculate mean
mean = sum(salaries) / len(salaries)

# Calculate median  
sorted_salaries = sorted(salaries)
n = len(sorted_salaries)
mid = n // 2
if n % 2 == 0:
    median = (sorted_salaries[mid-1] + sorted_salaries[mid]) / 2
else:
    median = sorted_salaries[mid]

# Calculate mode using dictionary
freq = {}
for salary in salaries:
    freq[salary] = freq.get(salary, 0) + 1

mode = max(freq, key=freq.get)

print(f"Mean: ${mean:,.2f}")
print(f"Median: ${median:,.2f}")
print(f"Mode: ${mode:,.2f}")

Mean: $59,737.18
Median: $59,534.00
Mode: $85,292.00

In [20]:
import csv

# Read CSV and extract Base Salary column
salaries = []
with open('Citywide_Payroll_Data_(Fiscal_Year)_20251112.csv', 'r') as file:
    reader = csv.reader(file)
    header = next(reader)
    salary_idx = header.index('Base Salary')
    
    for row in reader:
        if len(row) <= salary_idx:
            continue
        value = row[salary_idx]
        # Clean salary data: remove $ and commas
        clean_value = value.replace('$', '').replace(',', '')
        try:
            salaries.append(float(clean_value))
        except:
            continue

# Calculate statistics
min_salary = min(salaries)
max_salary = max(salaries)
mean_salary = sum(salaries) / len(salaries)

# Create visualization
print("Salary Range Visualization")
print("=" * 50)

# Calculate relative positions
salary_range = max_salary - min_salary

def get_position(value, width=40):
    return int((value - min_salary) / salary_range * width)

# Create visual representation
min_pos = get_position(min_salary)
max_pos = get_position(max_salary)
mean_pos = get_position(mean_salary)

# Build the visualization line
visual_line = [' '] * 41  # 0-40 positions
visual_line[min_pos] = '|'
visual_line[max_pos] = '|'
visual_line[mean_pos] = '▲'

# Fill between min and max with dashes
for i in range(min_pos + 1, max_pos):
    visual_line[i] = '-'

print(f"\nMin: ${min_salary:,.2f}")
print(f"Mean: ${mean_salary:,.2f}")
print(f"Max: ${max_salary:,.2f}")

print(f"\n{' ' * 10}Salary Range Visualization")
print(f"{' ' * 8}{''.join(visual_line)}")
print(f"{' ' * 8}↑{' ' * (mean_pos-1)}Mean")

# Additional visual representation using bar lengths
print(f"\nRelative Size Comparison:")
min_bar = '█' * max(1, int(min_salary / max_salary * 20))
mean_bar = '█' * max(1, int(mean_salary / max_salary * 20))
max_bar = '█' * 20

print(f"Min:  {min_bar}")
print(f"Mean: {mean_bar}")
print(f"Max:  {max_bar}")

Salary Range Visualization
==================================================

Min: $1.00
Mean: $59,737.18
Max: $293,000.00

          Salary Range Visualization
        |---------------------------------------|
        ↑       Mean

Relative Size Comparison:
Min:  █
Mean: ████
Max:  ████████████████████